[submodule "dependencies/CASE"]
	path = dependencies/CASE
	url = https://github.com/casework/CASE.git
[submodule "dependencies/rdflib"]
	path = dependencies/rdflib
	url = https://github.com/RDFLib/rdflib.git
